{% extends "layout.html" %}

{% block body %}
<!-- Button trigger modal -->
<button type="button" id="butt" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModal">

</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Plant Name <a href="#" class="tooltip-test" title="Tooltip" id="link_1">www.medivine.ai</a><br>
        Plant Name <a href="#" class="tooltip-test" title="Tooltip">www.wiki.com</a><br>
        Plant Name <a href="#" class="tooltip-test" title="Tooltip">www.wiki.com</a><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
   document.getElementById("butt").click();
});


</script>



{% endblock %}
