/* Add a black background color to the top navigation */
body{
	font-family:Palatino Linotype, Arial, Helvetica, sans-serif;	
}

#font
{
	font-family: Palatino Linotype;
}

.box1{
//	border: 5px green solid;
	//border-width:3ax;
	padding-top: 30px;
	margin-top: 30px;
	float:left;
	width:70px;
	padding:0 30px;
	box-sizing: border-box;
}

.box2{
	float: right;
	width:30%;
	padding:10px;
	box-sizing: border-box;
}



.transparent_btn {
		display: inline-block;
		padding: 10px 14px;
		color: #FFF;
		border: 1px solid #FFF;
		text-decoration: none;
		font-size: 14px;
		line-height: 120%;
		background-color: rgba(255,255,255, 0);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-transition: background-color 300ms ease;
		-moz-transition: background-color 300ms ease;
		transition: background-color 300ms ease;
		cursor: pointer;
}

.transparent_btn:hover {
		background-color: rgba(255,255,255, 0.3);
		color: #FFF;
		}


header {
	background-color: #333;
	//  background-color: rgba(255,255,25,5.0);
	  
	    overflow: hidden;
    }
/* Style the links inside the navigation bar */
nav a{
	      float: right;
	      color: #f2f2f2;
	      text-align: center;
	      padding: 14px 16px;
	      text-decoration: none;
	      font-size: 15px;
}

.logo
{
	float: left;	
}

/* Change the color of links on hover */
nav a:hover{
		 background-color: #ddd;
		 color: black;
}

.error
{
	color: red;
}
.container1{
	position: absolute;
	left:0;
	top: 50%;
	max-width: 1080px;
	text-align: center;
	color: #000;
	font-size: 15px;

}

.container1 span.border{
	background-color: #f9f9f9;
	color: #fff;
	padding: 15px;

}

.parallax{/*parallax for index*/
	background: url('../images/backgroundimg.jpg') ;
	background-size: cover;
	background-attachment: fixed;
	max-width: 100% ;
	height:700px;
	/*width:100% ;*/
}

.parallax1{/*Parallax for upload*/
	background: url('../images/esca.png');
	background-size: cover;
	background-attachment: fixed;
	max-width: 100%;
	height: 800px;
	color: #f9f9f9;
}

